[submodule "benchmarks/xbow/validation-benchmarks"]
	path = benchmarks/xbow/validation-benchmarks
	url = https://github.com/xoxruns/validation-benchmarks
[submodule "benchmarks/xbow/validation-benchmarks-xbow"]
	path = benchmarks/xbow/validation-benchmarks-xbow
	url = https://github.com/xoxruns/validation-benchmarks-xbow.git
