[submodule "knowledge_base/Pentest-Hardcore-Dataset"]
	path = knowledge_base/Pentest-Hardcore-Dataset
	url = https://github.com/xoxruns/Pentest-Hardcore-Dataset.git
[submodule "benchmarks/xbow/validation-benchmarks"]
	path = benchmarks/xbow/validation-benchmarks
	url = https://github.com/xoxruns/validation-benchmarks.git
