[submodule "benchmarks/xbow/validation-benchmarks"]
	path = benchmarks/xbow/validation-benchmarks
	url = https://github.com/xoxruns/validation-benchmarks
[submodule "benchmarks/xbow/validation-benchmarks-xbow"]
	path = benchmarks/xbow/validation-benchmarks-xbow
	url = https://github.com/xoxruns/validation-benchmarks-xbow.git
[submodule "deadend_cli/simple-python-interpreter-sandbox"]
	path = deadend_cli/simple-python-interpreter-sandbox
	url = https://github.com/xoxruns/simple-python-interpreter-sandbox.git
